*.gem
*.rbc
.bundle
.config
.yardoc
# For heroku deploy
# Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

$ Ignore dotenv setting
/.env
